<div class="container-fluid content">
    <div class="row">

        <div class="col-12 col-md-6 vh-100 p-5">
            <div class="row disable-select">
                <div class="col col-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
                    <div class="logo pb-4"><img  src="assets/img/logo.png" /></div>
                </div>
            </div>

            <div class="row disable-select">
                <div class="col col-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
                    <h2>Iniciar Sesión</h2>
                </div>
            </div>
        
            
            <div class="row mt-3">
                <div class="col col-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend disable-select flex-vert-align">
                            <i-bs name="person-circle"
                                width="20" height="20" class="m-2">
                            </i-bs>
                        </div>
                       <input type="text" aria-label="user" class="form-control" (keypress)="keyPress($event, 'user')"
                                [(ngModel)]="login.username" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col col-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend disable-select flex-vert-align">
                            <i-bs name="key" class="m-2"
                                width="20" height="20">
                            </i-bs>
                        </div>
                       <input type="password" aria-label="pass" class="form-control" (keypress)="keyPress($event, 'pass')"
                                [(ngModel)]="login.password" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col col-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2">
                    <button type="button" class="btn btn-dark col-12" (click)="next()">Ingresar</button>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 vh-100 d-none d-md-block back-p2">
            <div class="row disable-select vh-100">
                <div class="col p-5">
                    <h2>Greenborn Estadisticas 1</h2>
                    <h4>Demo de Dashboard de reporte de estadísticas de Equipos</h4>
                    <p>El proyecto nació inicialmente como la solución a la necesidad de almacenar los datos obtenidos a partir de logs de monitoreo de variables de equipos pertenecientes a una empresa minera.</p>
                    <p>Dichos logs se confeccionaban a partir de la información obtenida por medio de sensores instalados en los equipos a monitorear.</p>
                    <p>Luego, de manera periódica, cada dispositivo enviaba una petición de actualización de la información de la base de datos.</p>
                    <p>Puede probar la demo con el usuario: "admin", contraseña: "password".</p>
                </div>
            </div>
        </div>

    </div>
</div>