/* You can add global styles to this file, and also import other style files */

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    pointer-events: none;
  }

.vhm-100{
  min-height: 100vh !important;
}

.flex-vert-align{
  display: flex;
  align-items: center;
}

.bg1, .back-p2{
  background-image: url("./assets/img/bg1.jpeg");
  background-repeat: repeat;
}

.pr-0 {
  padding-right: 0px !important;
}

.pr_name{
  color:#777;
  font-weight: bold;
}