/* You can add global styles to this file, and also import other style files */

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    pointer-events: none;
  }

.vh-100{
  height: 100vh !important;
}

.flex-vert-align{
  display: flex;
  align-items: center;
}